:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --border-cart-color: #eeeeee;
  --border-header-color: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-contact-list {
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 0px;
}

/* убираем точки списков */
.list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  margin-right: 93px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0px;
}

.section-padding {
  padding-top: 94px;
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* ------------ШАПКА-------------- */

.header {
  height: 80px;
}

.logo-black {
  color: var(--black-logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* ------------ГЕРОЙ-------------- */

.hero {
  background-color: var(--hero-background-color);
  min-height: 600px;
  margin-top: 0px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* ------------ПРЕИМУЩЕСТВА-------------- */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.features-item:not(:last-child) {
  margin-right: 30px;
  margin-left: 0px;
}

/* ------------СПИСОК ЗАНЯТИЙ-------------- */
.work-sections {
  padding-bottom: 94px;
}

.work-list {
  margin-top: 50px;
}

/* ----------------КОМАНДА----------------- */

.team-section {
  background-color: var(--team-background-color);
  margin-bottom: 0px;
  padding-bottom: 94px;
}

.team-list {
  margin-top: 50px;
}

.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-worker-data {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  min-height: 19px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.team-item {
  background-color: var(--white-background-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------ПОДВАЛ----------------- */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
}

.logo-white {
  color: var(--white-text-color);
}

.footer-contact-item:not(:first-child) {
  margin-top: 9px;
}

.footer-contact-link.address {
  color: var(--white-text-color);
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* ---------------------------------------------- */
/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.portfolio-section {
  padding-bottom: 94px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container-portfolio {
  margin-top: 50px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-item {
  margin-top: 30px;
  max-width: 370px;
  border: 1px solid var(--border-cart-color);
}

.portfolio-item-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.portfolio-list {
  margin-top: -30px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.portfolio-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
